{% extends "layout.html" %}
{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Mülakat Bilgileri</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!--<div class="panel panel-default">-->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <form role="form" method="POST" action="">
                                {{ form.hidden_tag() }}
                                <div class="form-group row">
                                    {{ form.devam.label(class="col-sm-3 col-form-label", style="font-weight:normal;") }}
                                    <div class="col-sm-6">{{ form.devam(class="form-control")}}</div>
                                </div>
                                <div class="form-group row">
                                    {{ form.caba.label(class="col-sm-3 col-form-label", style="font-weight:normal;") }}
                                    <div class="col-sm-6">{{ form.caba(class="form-control")}}</div>
                                </div>
                                <div class="form-group row">
                                    {{ form.vakit.label(class="col-sm-3 col-form-label", style="font-weight:normal;") }}
                                    <div class="col-sm-6">{{ form.vakit(class="form-control")}}</div>
                                </div>
                                <div class="form-group row">
                                    {{ form.amir_davranis.label(class="col-sm-3 col-form-label", style="font-weight:normal;") }}
                                    <div class="col-sm-6">{{ form.amir_davranis(class="form-control")}}</div>
                                </div>
                                <div class="form-group row">
                                    {{ form.ark_davranis.label(class="col-sm-3 col-form-label", style="font-weight:normal;") }}
                                    <div class="col-sm-6">{{ form.ark_davranis(class="form-control")}}</div>
                                </div>
                                <div class="form-group row">
                                    {{ form.prove.label(class="col-sm-3 col-form-label", style="font-weight:normal;") }}
                                    <div class="col-sm-6">{{ form.prove(class="form-control", placeholder="0-100") }}</div>
                                </div>
                                <div class="form-group row">
                                    {{ form.duzen.label(class="col-sm-3 col-form-label", style="font-weight:normal;") }}
                                    <div class="col-sm-6">{{ form.duzen(class="form-control", placeholder="0-100") }}</div>
                                </div>
                                <div class="form-group row">
                                    {{ form.sunum.label(class="col-sm-3 col-form-label", style="font-weight:normal;") }}
                                    <div class="col-sm-6">{{ form.sunum(class="form-control", placeholder="0-100") }}</div>
                                </div>
                                <div class="form-group row">
                                    {{ form.icerik.label(class="col-sm-3 col-form-label", style="font-weight:normal;") }}
                                    <div class="col-sm-6">{{ form.icerik(class="form-control", placeholder="0-100") }}</div>
                                </div>
                                <div class="form-group row">
                                    {{ form.mulakat.label(class="col-sm-3 col-form-label", style="font-weight:normal;") }}
                                    <div class="col-sm-6">{{ form.mulakat(class="form-control", placeholder="0-100") }}</div>
                                </div>
                                <br>
                                <div style="margin-left:380px">
                                    <button type="submit" class="btn btn-default">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            <!--</div>-->
        </div>
    </div>
{% endblock content %}