{% extends "layout.html" %}

{% block header %}
    <link href="../static/dataTables.bootstrap.css" rel="stylesheet">
    <link href="../static/dataTables.responsive.css" rel="stylesheet">
    <script src="../static/jquery.dataTables.min.js"></script>
    <script src="../static/dataTables.bootstrap.min.js"></script>
    <script src="../static/dataTables.responsive.js"></script>
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light/all.min.css" />
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
    <script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/jszip.min.js"></script>
{% endblock header %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Mülakat Listesi</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!--<div class="panel panel-default">-->
            <div class="panel-body" id="deneme">
                <table style="width:100%" class="table table-striped table-bordered table-hover" id="interview-list">
                    <thead>
                        <tr>
                            <th>Öğrenci No</th>
                            <th>Ad ve Soyad</th>
                            <th>Program</th>
                            <th>Mülakat Tarihi</th>
                            <th>Mülakat Saati</th>
                            <th>Komisyon Üyesi 1</th>
                            <th>Komisyon Üyesi 2</th>
                            <th><i class="fas fa-ellipsis-h fa-fw"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in results %}
                            <tr>
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }} {{ row[2] }}</td>
                                <td>{{ row[3] }}. Öğretim</td>
                                <td>{{ row[4] }}</td>
                                <td>{{ row[5] }}</td>
                                <td>{{ row[6] }}</td>
                                <td>{{ row[7] }}</td>
                                <td><a href="/interview_result?mulakat={{ row[8] }}"><i class="far fa-clipboard"></i></a> &nbsp; <a href="#"><i class="far fa-trash-alt"></i></a> </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#interviewd-list').DataTable({
            responsive: true
        });
    });
    </script>
{% endblock content %}