{% extends "layout.html" %}

{% block header %}
    <link href="../static/dataTables.bootstrap.css" rel="stylesheet">
    <link href="../static/dataTables.responsive.css" rel="stylesheet">
    <script src="../static/jquery.dataTables.min.js"></script>
    <script src="../static/dataTables.bootstrap.min.js"></script>
    <script src="../static/dataTables.responsive.js"></script>
{% endblock header %}

{% block content %}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h3 class="page-header">Staj Listesi</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <!--<div class="panel panel-default">-->
            <div class="panel-body">
                <table style="width:100%" class="table table-striped table-bordered table-hover" id="student-list">
                    <thead>
                        <tr>
                            <th>Öğrenci No</th>
                            <th>Ad ve Soyad</th>
                            <th>Sınıf</th>
                            <th>Firma</th>
                            <th>Şehir</th>
                            <th>Konu</th>
                            <th>Başlangıç Tarihi</th>
                            <th>Bitiş Tarihi</th>
                            <th>Gün</th>
                            <th><i class="fas fa-ellipsis-h fa-fw"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in results %}
                            <tr>
                                <td>{{ row[0] }}</td>
                                <td>{{ row[1] }} {{ row[2] }}</td>
                                <td>{{ row[3] }}</td>
                                <td>{{ row[4] }}</td>
                                <td>{{ row[5] }}</td>
                                <td>{{ row[6] }}</td>
                                <td>{{ row[7] }}</td>
                                <td>{{ row[8] }}</td>
                                <td>{{ row[9] }}</td>
                                <td><a href="/interview_registration?staj_id={{ row[10] }}"><i class="far fa-edit"></i></a> &nbsp; <a href="#"><i class="far fa-trash-alt"></i></a> </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!--</div>-->
        </div>
    </div>

    <script>
    $(document).ready(function() {
        $('#student-list').DataTable({
            responsive: true
        });
    });
    </script>
{% endblock content %}