<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Yönetici Girişi</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/metisMenu.min.css" rel="stylesheet">
    <link href="../static/sb-admin-2.css" rel="stylesheet">
    <link href="../static/morris.css" rel="stylesheet">
    <link href="../static/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>
<body>
    <center><img src="http://www.ktu.edu.tr/images/logo/Logo_KTU_tr.png" width="130" height="130" style="margin-top:50px; align:center"><br><BR>
        <font face="Verdana" size="4" >KARADENİZ TEKNİK ÜNİVERSİTESİ<br>STAJ YÖNETİM SİSTEMİ</font></center>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Yönetici Girişi</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="POST" action="">
                            {{ form.hidden_tag() }}
                            <fieldset>
                                <div class="form-group">
                                    {{ form.username(class="form-control", placeholder="Kullanıcı adı") }}
                                </div>
                                <div class="form-group">
                                    {{ form.passwd(class="form-control", placeholder="Parola") }}
                                </div>
                                <button type="submit" class="btn btn-lg btn-success btn-block">Giriş</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-8" style="padding-left:140px">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <br>
                        <div class="alert alert-{{category}} alert-dismissible" style="margin-left:270px;margin-top:10px">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            </div>
        </div>
    </div>

    <script src="../static/jquery.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <script src="../static/metisMenu.min.js"></script>
    <script src="../vendor/raphael/raphael.min.js"></script>
    <script src="../vendor/morrisjs/morris.min.js"></script>
    <script src="../data/morris-data.js"></script>
    <script src="../static/sb-admin-2.js"></script>
</body>
</html>
